@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* built by Wego Technologies  */

:root {
    --primary-color: #DE691B;
    --primary-color-rgb: rgb(228, 126, 59);
    --box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.08);
    --box-shadow-strong: 0 5px 10px rgba(0, 0, 0, 0.5);
    --transition: all 0.5s ease;
}

html {
    scroll-behavior: smooth;
}


*{
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    transition: var(--transition);
}

img {
    max-width: 100%;
    height: auto;
}

.img-round {
    border-radius: 3%;
}

.section-padding {
    padding-top: 100px; /* was originally 140 */
    padding-bottom: 100px; /* was originally 140 */
}

.theme-shadow {
    box-shadow: var(--box-shadow);
}


/* image zoom  */
.image-zoom {
    position: relative;
    overflow: hidden;
}
.image-zoom-wrapper {
    position: relative;
    overflow: hidden;
}

.image-zoom-wrapper img {
    transition: var(--transition);
}

.image-zoom:hover .image-zoom-wrapper img{
    transform: scale(1.1);
}

/* SVG logo -------------------------------------- */



/* back to top button --------------------------- */

#toTop {
    position: fixed;
    right: 1rem;
    bottom: -5rem;
    opacity:0;
    animation: toTop linear forwards;
    animation-timeline: view();
    animation-range-start: 90vh;
    animation-range-end: 130vh;
    z-index: 1;
}

@keyframes toTop {
    to { 
        opacity: 5;
        bottom:1rem;
        margin-right: 40px;
        margin-bottom: 40px;
        color: white;
        }
}

@media only screen and (max-width: 767px) {
    #toTop {
        /* visibility: hidden; */
        display: none;
    }
    }



/* top bar  */
.topbar a{
    color: white;
}

.topbar {
    height: 40px;
}

.small-txt {
    color: white;
}

.bg-primary {
    background-color: #DE691B !important;
}


.btn-primary {
    background-color: #DE691B;
}

/* navbar -------------------------------------------------- */

.navbar {
    overflow: visible;
}




.hidden-nav-item {
    display: none;
}

/* the underline for the navbar  */
@media only screen and (min-width: 1200px) {

    .nav-link {
        position: relative;
    }
    
    .nav-link::after {
        content: "";
        opacity: 0;
        transition: all .5s;
        height: 2px;
        width: 100%;
        background-color: var(--primary-color);
        position: absolute;
        bottom: 0;
        left: 0;
    }
    
    .nav-link:hover::after {
        opacity: 1;
    }
    
    .nav-link.active::after {
        content: "";
        opacity: 1;
        transition: all .5s;
        height: 2px;
        width: 100%;
        background-color: var(--primary-color);
        position: absolute;
        bottom: 0;
        left: 0;
    }
    
}

/* Styles for tablets */
@media only screen and (max-width: 991px) {

    .schedule-btn {
        display: none;
    }
    .hidden-nav-item {
        display: block;
    }
}
  
/* Styles for smartphones */
@media only screen and (max-width: 767px) {
/* ... */
}

.navbar-nav .nav-link.active {
    color: var(--bs-primary);
}

#welcome {
    background-color: grey;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.dropdown>.dropdown-menu {
    background-color: white;
    border: none;
    border-radius: 0;
}

.bi-grid {
    font-size: 1.5rem;
}

.bi-dash-lg {
    font-size: 2rem;
}

.sticky-top {
    background-color: white;
}

/* end navbar -----------------------------------------------------------------*/





/* subtitle ------------------------------------------------------------------- */

/* .sub-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: #000000;
}

.sub-title::before {
    content: "";
    width: 100px;
    position: absolute;
    bottom: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-bottom: -8px;
    margin-right: -100px;
    border: 1px solid var(--bs-primary) !important;
}

.sub-title::after {
    content: "";
    width: 50px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-top: -6px;
    margin-right: -50px;
    border: 1px solid var(--bs-primary) !important;
} */




/* hero -------------------------------------------------------------- */

#hero {
    background: linear-gradient(#00000089, #0000006a), url(../img/hero.JPG);
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    color: white;
}


@media (min-width:992px) {
    /* drop down menu  */
    .dropdown>.dropdown-menu {
        visibility: hidden;
        opacity: 0;
        top: 100%;
        display: block;
        transition: all 0.1s ease;
    }

    .dropdown:hover>.dropdown-menu {
        padding: 20px 0px;
        display: block;
        visibility: visible;
        opacity: 1;
        transition: all 0.3s ease-in-out;
    }

    .dropdown-item:hover {
        color: #fff;
        background-color: black;
    }
}

/* espanol  ------------------------------------------------------------- */

#espanol {
    display: none;
}

.about-cont-spanish {
    /* background: lightgrey; */
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
}


/* about ----------------------------------------------------------------- */



/* section-title  */
.section-title {
    margin-bottom: 60px;
}

.section-title .line {
    width: 60px;
    height: 4px;
    background-color: var(--primary-color);
    margin: 16px auto 24px auto;
}

.section-title .line-small{
    width: 30px;
    height: 4px;
    background-color: var(--primary-color);
    margin: -10px auto 24px auto;
}

.section-title p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 800px) {
    .phone-marg-top {
        margin-top: 40px;
    }

    .sub-title::before {
        content: "";
        width: 100px;
        position: absolute;
        bottom: 50%;
        right: 0;
        transform: translateY(-50%);
        margin-bottom: -8px;
        margin-right: -100px;
        border: 0px solid var(--bs-primary) !important;
    }
    
    .sub-title::after {
        content: "";
        width: 50px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        margin-top: -6px;
        margin-right: -50px;
        border: 0px solid var(--bs-primary) !important;
    }

  }
@media only screen and (max-width: 991px) {

    .medium-margin-top {
        margin-top: 20px;
    }
}

/* icon-box ---------------------------------------------------------------- */

.icon-box {
    width: 70px;
    height: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(228, 126, 59, .2);
    color: var(--primary-color);
    font-size: 34px;
    flex: none;
}

.counter-icon:hover {
    transform: rotate(360deg);
    transition: all 0.3s ease;
}

/*** About Cont. Start ------------------------------------------------------ ***/
.about-cont {
    background: linear-gradient(#00000089, #0000006a), url(../img/breadcrums.JPEG);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
}

@media (max-width: 768px) {
    .about-cont {
        background: lightgrey;
    }
}

@media only screen and (max-width: 991px) {
    .about-cont {
        background: lightgrey;
    }
}

.about-cont .counter {
    position: relative;
    text-align: center;
    width: 300px;
    min-height: 215px;
    padding: 10px 15px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.2);
    background: var(--bs-white);
}

.about-cont .counter:before {
    content: "";
    position: absolute;
    height: 105px;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 10px 10px 0 0;
    background-color: var(--bs-primary);
    
}
.about-cont .counter .counter-icon-inner {
    color: black;
}
.about-cont .counter .counter-icon {
    position: relative;
    margin: auto;
    border-radius: 10px 10px 0 0;
    font-size: 50px;
    line-height: 90px;
    color: var(--bs-secondary);
}

.about-cont .counter:hover .counter-icon i {
    transform: rotate(360deg);
    transition: all 0.3s ease;
}
.about-cont .counter h3 {
    color: var(--bs-primary);
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 5px 0;
}

.about-cont .counter .btn-magnify {
    margin-top: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5);
}



/* about two------------------------------------------------------------------ */

.feature-item {
    transition: var(--transition);
}

.feature-item:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    scale: 1.08;
}


@media screen and (max-width: 1200px) {
    .counter-facts .counter { margin-bottom: 40px; 
    }
}
/*** About Cont. End ***/

/* service ------------------------------------------------------------------- */

.service {
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.service::after {
    content: "";
    width: 40px;
    height: 40px;
    background: rgba(228, 126, 59, 0.2);
    position: absolute;
    bottom: 0;
    right: 0;
    visibility: hidden;
    transition: var(--transition);
}

.service:hover::after {
    visibility: visible;
    width: 100%;
    height: 100%;
    background: var(--bs-primary);
    z-index: -1;

}

.service:hover h5,
.service:hover p {
    color: white;
}

.service:hover .icon-box {
    background-color: rgba(225, 225, 225, 0.2);
    color: white;
}

.service:hover .btn {
    background-color: rgba(225, 225, 225, 0.2);
}

/* quote -------------------------------------------------- */
#quote {
    background: linear-gradient(#00000089, #0000006a), url(../img/breadcrums.JPEG);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
}

@media (max-width: 768px) {
    #quote {
        background: lightgrey;
    }
}
@media only screen and (max-width: 991px) {
    #quote {
        background: lightgrey;
    }
}

.quote-name {
    border-radius: 10%;
}

/* FAQ ---------------------------------------------------- */
.faq-section {
    background: linear-gradient(#00000089, #0000006a), url(../img/breadcrums.JPEG);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
}

@media (max-width: 768px) {
    .faq-section {
        background: lightgrey;
    }
}
@media only screen and (max-width: 991px) {
    .faq-section {
        background: lightgrey;
    }
}

.icon-box.faq-item {
    background-color: white;
    border-radius: 100%;
}

/* projects ----------------------------------------------- */

.project-item .icon-box {
    background-color: #E47E3B;
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.project-item:hover .icon-box {
    opacity: 1;
    top: 50%;
}

/* review ------------------------------------------------------------------ */

.review-head {
    position: relative;
}

.review-head::after {
    content: "";
    width: 28px;
    height: 28px;
    position: absolute;
    bottom: -14;
    background-color: white;
    transform: rotate(45deg);
}

/* photos section */

.carousel-item img {
    aspect-ratio: 16 / 9; /* Adjust the aspect ratio as needed */
    object-fit: cover;
}

.carousel-btn {
    color: var(--bs-primary);
}

.frame {
    border-radius: 3%;
    box-shadow: var(--box-shadow-strong);
}


/* contact us ----------------------------------------------------------------- */

#contact {
    position: relative;
    /* z-index: 2; */
}

#contact::after {
    content: "";
    width: 100%;
    height: 70%;
    background: linear-gradient(#00000089, #0000006a), url(../img/breadcrums.JPEG);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

}

@media (max-width: 768px) {
    #contact::after {
        background: lightgrey;
    }
}
@media only screen and (max-width: 991px) {
    #contact::after {
        background: lightgrey;
    }
}

#contact .form-control {
    border-radius: 0;
}

#contact .form-control:focus {
    box-shadow: none;
    border-color: var(--bs-primary);
}



/* ANIMAIONS --------------------------------------------------------------- */
/* fade in animation */

.fade-in {
    opacity: 0;
    animation: fadeIn .8s ease-in-out forwards;
  }
  
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

/* custom button animation  */
.btn-magnify {
    border: none;
    color: white;
    transition: 150ms ease;
}

.btn-magnify:hover {
    scale: 1.1;
}

/* footer  ----------------------------------------------------*/

footer {
    padding-top: 120px;
}

.footer-top {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(225, 225, 225, 0.2);
}

.footer-bottom {
    padding-top: 40px;
    padding-bottom: 40px;
}

footer li,
footer p,
footer a {
    color: rgba(225, 225, 225, 0.7)
}

footer ul {
    list-style: none;
    padding: 0;
}

footer .line {
    width: 40px;
    height: 4px;
    background-color: var(--bs-primary);
    margin-top: 12px;
    margin-bottom: 24px;
}

.social-icons {
    margin-top: 5px;
}

.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(225, 225, 225, 0.7);
    transition: var(--transition);
    border-radius: 100px;
}

.social-icons a:hover {
    scale: 1.1;
    background-color: var(--bs-primary);
    color: white;
}

.topbar  .social-icons a{
    background-color: #DE691B;
}